<a href="https://colab.research.google.com/github/SriRamK345/E-Commerce-Marketing/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [77]:
df = pd.read_csv("/content/drive/MyDrive/E-Commerce Marketing/ConsumerElectronics.csv")
df.head()

<ipython-input-77-e7dcc6bc96b2>:1: DtypeWarning: Columns (6,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/drive/MyDrive/E-Commerce Marketing/ConsumerElectronics.csv")

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,COD,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,COD,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,COD,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,Prepaid,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,Prepaid,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3

In [78]:
df.shape

(1648824, 20)

In [79]:
df.drop_duplicates(inplace= True,)
print(df.shape)

(1543981, 20)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1543981 entries, 0 to 1543996
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1543981 non-null  object
 1   order_date                       1543981 non-null  object
 2   Year                             1543981 non-null  int64
 3   Month                            1543981 non-null  int64
 4   order_id                         1543981 non-null  float64
 5   order_item_id                    1543981 non-null  float64
 6   gmv                              1543981 non-null  object
 7   units                            1543981 non-null  int64
 8   deliverybdays                    1543981 non-null  object
 9   deliverycdays                    1543981 non-null  object
 10  s1_fact.order_payment_type       1543981 non-null  object
 11  sla                              1543981 non-null  int64
 12  cust_id                          1543981 non-null  object
 13  pincode                          1543981 non-null  object
 14  product_analytic_super_category  1543981 non-null  object
 15  product_analytic_category        1543981 non-null  object
 16  product_analytic_sub_category    1543981 non-null  object
 17  product_analytic_vertical        1543981 non-null  object
 18  product_mrp                      1543981 non-null  int64
 19  product_procurement_sla          1543981 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 247.4+ MB

In [81]:
df["product_analytic_category"].unique()

array(['CameraAccessory', 'GamingHardware', 'EntertainmentSmall',
       'GameCDDVD', 'Camera'], dtype=object)

In [82]:
df["product_analytic_sub_category"].unique()

array(['CameraAccessory', 'GamingAccessory', 'Speaker', 'HomeAudio',
       'CameraStorage', 'AmplifierReceiver', 'AudioMP3Player', 'Game',
       'Camera', 'GamingConsole', 'HomeTheatre', 'AudioAccessory',
       'TVVideoSmall', 'GameMembershipCards'], dtype=object)

In [83]:
df["gmv"].value_counts()

gmv
999.0      23738
999        16557
169        16341
299.0      13535
1299.0     12508
           ...
28749.0        1
33204.0        1
16420          1
10962.0        1
3225           1
Name: count, Length: 18086, dtype: int64

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1543981 entries, 0 to 1543996
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1543981 non-null  object
 1   order_date                       1543981 non-null  object
 2   Year                             1543981 non-null  int64
 3   Month                            1543981 non-null  int64
 4   order_id                         1543981 non-null  float64
 5   order_item_id                    1543981 non-null  float64
 6   gmv                              1543981 non-null  object
 7   units                            1543981 non-null  int64
 8   deliverybdays                    1543981 non-null  object
 9   deliverycdays                    1543981 non-null  object
 10  s1_fact.order_payment_type       1543981 non-null  object
 11  sla                              1543981 non-null  int64
 12  cust_id                          1543981 non-null  object
 13  pincode                          1543981 non-null  object
 14  product_analytic_super_category  1543981 non-null  object
 15  product_analytic_category        1543981 non-null  object
 16  product_analytic_sub_category    1543981 non-null  object
 17  product_analytic_vertical        1543981 non-null  object
 18  product_mrp                      1543981 non-null  int64
 19  product_procurement_sla          1543981 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 247.4+ MB

## Handling

In [85]:
# Convert 'gmv' to numeric (forcing errors to NaN if any invalid values)
df['gmv'] = pd.to_numeric(df['gmv'], errors='coerce')

In [86]:
# Convert 'order_date' to datetime format
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

In [87]:
# Replace invalid entries ('\\N') in 'deliverybdays' and 'deliverycdays' with NaN
df['deliverybdays'] = df['deliverybdays'].replace('\\N', np.NaN)
df['deliverycdays'] = df['deliverycdays'].replace('\\N', np.NaN)

In [88]:
df.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
32756,ACCDXEGXG8HJUCSK,2015-10-12 13:00:26,2015,10,4.414902e+15,4.414902e+15,799.0,1,NaN,NaN,COD,3,6.68661922051129E+017,5.00574768294722E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,1000,2
943640,ACCDFZEJ6ZGSWRMK,2016-04-17 07:35:34,2016,4,2.577140e+15,2.577140e+15,999.0,1,NaN,NaN,Prepaid,5,4668228292226280448.0,6650539722504129536.0,CE,EntertainmentSmall,Speaker,LaptopSpeaker,2500,3
625963,GMCDNZCHPFVHKGAT,2016-01-21 10:49:46,2016,1,1.502088e+15,1.502088e+15,29990.0,1,NaN,NaN,COD,2,-2870942339548709888.0,6039738508255960064.0,CE,GamingHardware,GamingConsole,GamingConsole,41990,5
459962,AVMDX6TFZZQM7SXJ,2015-12-09 09:48:32,2015,12,3.464900e+15,3.464900e+15,2499.0,1,NaN,NaN,COD,3,-5289694618336730112.0,7525083612851659776.0,CE,GameCDDVD,Game,PhysicalGame,4999,5
1495948,ACCE9A6HW2YFHJSQ,2015-09-24 19:05:36,2015,9,1.399565e+15,1.399565e+15,195.0,1,NaN,NaN,Prepaid,10,-6.94950000803514E+018,8.13958913564436E+018,CE,GamingHardware,GamingAccessory,TVOutCableAccessory,299,4
922756,HTHEEY2AM5YSY7UE,2016-03-19 10:52:07,2016,3,1.552193e+15,1.552193e+15,1999.0,1,NaN,NaN,COD,6,-2294899547283200000.0,2105148957672600064.0,CE,EntertainmentSmall,HomeTheatre,HomeTheatre,2999,2
1097441,ACCE5WX2ACRDHYZF,2016-05-10 21:09:43,2016,5,1.597501e+15,1.597501e+15,849.0,1,6,7,COD,7,-1106638032630710016.0,6148222843918390272.0,CE,EntertainmentSmall,Speaker,LaptopSpeaker,1599,3
235672,ACCDYFXZ6QEUZEFZ,2015-11-08 02:21:10,2015,11,2.437845e+15,2.437845e+15,1440.0,1,NaN,NaN,Prepaid,1,9.16270312388905E+018,5.34735360997242E+017,CE,GamingHardware,GamingAccessory,GamePad,1995,4
1281949,ACCEEZM4ZTTHHSEC,2016-06-16 17:38:32,2016,6,4.629334e+15,4.629334e+15,240.0,1,NaN,NaN,COD,5,-1534157783920069888.0,7894758988776739840.0,CE,EntertainmentSmall,Speaker,MobileSpeaker,999,2
1218678,SELEAFUMQR5P7968,2016-05-20 15:53:13,2016,5,1.605951e+15,1.605951e+15,930.0,1,3,4,COD,6,-5574736335787459584.0,6820321429876110336.0,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,2900,2

In [89]:
df.isnull().sum()

fsn_id                                   0
order_date                               0
Year                                     0
Month                                    0
order_id                                 0
order_item_id                            0
gmv                                   4038
units                                    0
deliverybdays                      1208179
deliverycdays                      1208178
s1_fact.order_payment_type               0
sla                                      0
cust_id                                  0
pincode                                  0
product_analytic_super_category          0
product_analytic_category                0
product_analytic_sub_category            0
product_analytic_vertical                0
product_mrp                              0
product_procurement_sla                  0
dtype: int64

In [90]:
df.dropna(subset=['gmv'], inplace=True)

In [91]:
df["deliverybdays"].value_counts().head(10)

deliverybdays
4     62056
5     60591
3     53686
6     48650
2     37512
7     25564
1     19855
8     12461
9      5927
10     2922
Name: count, dtype: int64

In [92]:
df["deliverycdays"].value_counts().head(10)

deliverycdays
5     56412
6     51927
4     50619
3     40495
7     38452
2     28174
8     23257
1     15428
9     13533
10     7289
Name: count, dtype: int64